<ion-view title= "Sabamestari Cards" >
  <ion-content>
        <div class="list list-inset">


              <div class="item">
              <a class="tab-item" href="#/photos" > Card 1</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 2</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 3</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 4</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 5</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 6</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 7</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 8</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 9</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 10</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 11</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 12</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 13</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 14</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 15</a>
              </div>
              <div class="item">
              <a class="tab-item" href="#/photos" > Card 16</a>
              </div>

        </div>
</ion-content>
</ion-view>
