
<ion-view title= "Sabamestari Photos" >
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>Title of the card</h2>
        <p>Subtitle of the card</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/cover.png">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
          commodo libero, imperdiet placerat purus consectetur at. Donec sagittis convallis
          justo, sed consequat leo pellentesque in. Maecenas sit amet augue ornare, ornare purus ac,
           molestie sem. Nunc consectetur ante non laoreet aliquet.
        </p>
        <!--p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p-->
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/cards">
          <i class="icon ion-help-buoy"></i>
          Card 1
        </a>
        <a class="tab-item" href="#/cards">
          <i class="icon ion-help-buoy"></i>
          Card 2
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-help-buoy"></i>
          Card 3
        </a>
      </div>

    </div>
</ion-content>
</ion-view>
